* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #282828; /*여기에서 전체 폰트 색상을 지정해줄 수 있습니다.*/
}

body {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f3f0e9;
  min-width: 1440px;
  min-height: 700px;
}

html,
body {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* WebKit 브라우저 (Chrome, Safari 등) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
