* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #334155; /*여기에서 전체 폰트 색상을 지정해줄 수 있습니다.*/
}

body {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f3f0e9;
  min-width: 1440px;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
}
