* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #334155; /*여기에서 전체 폰트 색상을 지정해줄 수 있습니다.*/
}

body {
  display: flex;
  justify-content: center;
  min-height: 732px; /*여기에서 세로크기를.*/
  min-width: 1420px; /*여기에서 가로크기를 지정해줄 수 있습니다.*/
  overflow-y: auto;
  overflow-x: auto;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
}
