.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 147px;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
