.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form textarea {
  height: 90px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #f3f0e9;
  border: 1px solid #282828;
}

.form button {
  border-radius: 50px;
  background-color: #282828;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 20px;
  align-self: flex-end;
}
